#messages {
    height: 1fr;
    overflow: auto;
    padding: 1;
}

#input_section {
    height: 3;
    padding: 1;
    border: round white;
}

.message {
    padding: 1;
    border: round;
    margin: 1 0;
}

.inbound {
    text-align: left;
}

.outbound {
    text-align: right;
}

.private {
    background: green;
    color: black;
}

.public {
    background: white;
    color: black;
}
